<div class="container">
    <div class="row">
        <div class="col-md-8 m-auto">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef> Produt Name </th>
            <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
          </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="productDescription">
              <th mat-header-cell *matHeaderCellDef> Produt Description </th>
              <td mat-cell *matCellDef="let element"> {{element.productDescription}} </td>
            </ng-container>
          
            <!-- Weight Column -->
           
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef > Action </th>
                          <td mat-cell *matCellDef="let row" >
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon" (click)="onCustomAction(row.id)"><mat-icon>edit</mat-icon></button>
                        <!-- <button  mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="updateBrand(row.brandId)"><mat-icon>edit</mat-icon></button> -->
                          </td>
              </ng-container>
            
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
    </div>
    </div>